.dashboard-nav {
    width: 100%;
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Space between logo and links */
    background-color: #2C3E50; /* Dark background color for the dashboard */
    padding: 10px 20px;
    border-bottom: 2px solid #34495E; /* Slightly lighter border for depth */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    z-index: 1000; /* Ensure it stays above other content */
    position: fixed; /* Fixed position to ensure it stays at the top */
    top: 0;
    left: 0;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px; /* Adjust the height as needed */
    margin-right: 10px; /* Space between logo and site name */
}

.site-name {
    font-size: 24px;
    font-weight: bold;
    color: #ECF0F1; /* Light text color for contrast */
}

.dashboard-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between; /* Distribute items equally */
    flex: 1;
}

.dashboard-nav ul li {
    flex: 1;
    text-align: center; /* Center the text */
}

.dashboard-nav ul li a {
    text-decoration: none;
    color: #ECF0F1; /* Light text color for links */
    padding: 5px 10px;
    transition: background-color 0.3s ease; /* Smooth transition for background color change */
    font-size: 20px;
}

.dashboard-nav ul li a:hover {
    background-color: #34495E; /* Dark background color on link hover */
}
