/* Question.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .question-container {
      width: 100%;
      max-width: 800px;
      padding: 20px;
      background-color: #ffffff; /* White background */
      margin: 20px auto; /* Center container and add margin */
      margin-top: 80px; /* Adjust this value according to your Navbar height */
  }
  
  .question-title {
      text-align: center;
      font-size: 28px;
      color: #333333;
      margin-bottom: 20px;
  }
  
  .question-card {
      margin-bottom: 30px;
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      background-color: #7ba6df; /* Lavender background for card */
  }
  
  .question-text {
      font-size: 16px; /* Reduced font size */
      color: #333333;
      margin-bottom: 15px;
  }
  
  .options-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start; /* Align options to the left */
  }
  
  .option-item {
      margin-bottom: 10px;
  }
  
  .option-item input[type="radio"] {
      margin-right: 10px;
  }
  
  .submit-container {
      text-align: center;
  }
  
  .submit-btn {
      padding: 12px 24px;
      background-color: #2F3C7E; /* Vibrant color for submit button */
      color: #ffffff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s ease;
  }
  
  .submit-btn:hover {
      background-color: #34495E; /* Darker shade on hover */
  }
  